@use '/app/util/colors.scss' as colors;
@use '/app/util/mixins.scss' as mixins;
@use '/app/styles/theme-var.scss' as theme;

.todo-main-container {
  @include theme.themify(theme.$themes) {
    background: theme.themed('backgroundColor');
  }
  height: 100%;
  .top-bg {
    @include theme.themify(theme.$themes) {
      background-image: theme.themed('backgroundImage');
    }
    width: 100%;
    height: 300px;
    background-position: center 0;
    background-size: cover;
    position: absolute;
  }

  .center-container {
    @include mixins.flex-center();
    padding: 32px 0;
    .center-content {
      // outline: 1px solid red;
      min-width: 540px;
      z-index: 2;
      .title-container {
        font-size: 1.7778rem; // 32px
        letter-spacing: 10px;
        padding: 40px 0;
        color: colors.$very-light-gray;
        @include mixins.flex-center(space-between);
        align-items: center;
        .title {
          letter-spacing: 13px;
          font-size: 2.2222rem; // 40px
          font-weight: 700;
        }
        .theme-switcher {
          cursor: pointer;
        }
      }
    }
  }

  .add-input {
    @include mixins.flex-center(space-between);
    align-items: center;
    margin-bottom: 24px;
    @include theme.themify(theme.$themes) {
      background-color: theme.themed('containerBackground');
    }
    border-radius: 6px;
    .checkbox {
      margin-left:16px;
    }
    input.todo-input {
      @include theme.themify(theme.$themes) {
        background-color: theme.themed('containerBackground');
      }
      width: 100%;
      padding: 24px 16px 24px 16px;
      font-size: 1rem;
      border-radius: 6px;
      border: 0;
      &:focus {
        outline: none;
      }
    }
  }

  .list-container {
    @include theme.themify(theme.$themes) {
      background-color: theme.themed('containerBackground');
      color: theme.themed('highlightText');
      box-shadow: 0px 12px 12px 1px theme.themed('boxShadow');
    }
    border-radius: 6px;
    margin-bottom: 32px;
    .list-item {
      font-size: 1rem; // 14px
      padding: 22px 16px;
      align-items: center;
      @include theme.themify(theme.$themes) {
        border-bottom: 1px solid theme.themed('dividerLine');
        color: theme.themed('textColor');
      }
      @include mixins.flex-center(space-between);
      .left {
        @include mixins.flex-center($justify: start);
        align-items: center;
        gap: 16px;
        &.checked {
          text-decoration: line-through;
          @include theme.themify(theme.$themes) {
            color: theme.themed('strikeThroughText');
          }
        }
      }
      .remove {
        visibility: hidden;
        height: 20px;
      }
      &:hover {
        cursor: pointer;
        & .remove {
          visibility: visible;
        }
      }
    }
    .list-bottom {
      font-size: 0.7778rem; // 14px
      padding: 16px;
      @include theme.themify(theme.$themes) {
        color: theme.themed('paleText');
      }
      @include mixins.flex-center($justify: space-between);
      .center {
        @include mixins.flex-center($justify: space-around);
        gap: 12px;
        font-weight: 700;
      }
      .right:hover {
        cursor: pointer;
        @include theme.themify(theme.$themes) {
          color: theme.themed('highlightText');
        }
      }
    }
  }

  .checkbox {
    border-radius: 50%;
    @include theme.themify(theme.$themes) {
      color: theme.themed('dividerLine');
      border: 2px solid theme.themed('checkboxOutline'); 
    }
    // background: linear-gradient(white, white) padding-box, $check-bg border-box;
    // background: $check-bg no-repeat;
    width: 20px;
    height: 20px;
    &:hover {
      border-color: transparent;
      @include theme.themify(theme.$themes) {
        color: theme.themed('containerBackground');
        background: linear-gradient(
          theme.themed('containerBackground'), 
          theme.themed('containerBackground')
          ) padding-box, colors.$check-bg border-box;
      }
      background: linear-gradient(white, white) padding-box, colors.$check-bg border-box;
    }
    &.checked {
      background: url('/images/icon-check.svg') no-repeat center, colors.$check-bg;
      border: 0;
    }
  }

  .mobile-filter {
    display: none;
  }

  .drag-n-drop-text {
    margin-top: 40px;
    font-size: 0.7778rem;
    text-align: center;
    @include theme.themify(theme.$themes) {
      color: theme.themed('paleText');
    }
  }

}

@media screen and (max-width: 600px) {
  .todo-main-container {
    .top-bg {
      height: 200px;
    }
    .center-container {
      padding: 0;
      .center-content {
        min-width: 0;
        width: 80%;
        .title-container {
          font-size: 1.7778rem; // 32px
          .title {
            font-size: 1.7778rem; // 40px
          }
        }
      }
    }

    .add-input input.todo-input {
      font-size:  0.6111rem; // 11px
    }
    .add-input {
      margin-bottom: 16px;
        input.todo-input {
        padding: 20px 16px 20px 16px;
      }
    }

    .list-container {
      margin-bottom: 16px;
      .list-item {
        font-size: 0.6111rem; // 11px
        padding: 16px 16px;
        .left {
          gap: 12px;
        }
        .remove {
          height: 14px;
          img {
            width: 14px;
            height: 14px;
          }
        }
      }
      .list-bottom {
        font-size: 0.6667rem;
      }
    }

    .desktop-filter {
      display: none;
    }
    .mobile-filter {
      display: block;
    }

    .drag-n-drop-text {
      margin-top: 40px;
      font-size: 0.7778rem;
    }
  }
}

// .todo-main-container.dark {
//   // .add-input input.todo-input {
//   //   @include theme.themify(theme.$themes) {
//   //     background-color: theme.themed('containerBackground');
//   //   }
//   // }

//   // .list-container {
//   //   // background: colors.$very-dark-desaturated-blue;
//   //   // color: colors.$light-grayish-blue;
//   //   .list-item {
//   //     // border-bottom: 1px solid colors.$very-dark-grayish-blue-2;
//   //     .left.checked {
//   //       color: colors.$very-dark-grayish-blue;
//   //     }
//   //   }
//   //   .list-bottom {
//   //     .center {
//   //       .filter-option {
//   //         &:not(.active):hover {
//   //           color: colors.$light-grayish-blue-hover;
//   //         }
//   //       }
//   //     }
//   //     .right:hover {
//   //       color: colors.$light-grayish-blue-hover;
//   //     }
//   //   }
//   // }

//   // .checkbox {
//   //   border: 2px solid colors.$very-dark-grayish-blue-2;
//   //   &:hover {
//   //     border-color: transparent;
//   //     background: linear-gradient(colors.$very-dark-desaturated-blue, colors.$very-dark-desaturated-blue) padding-box, colors.$check-bg border-box;
//   //   }
//   //   &.checked {
//   //     background: url('/images/icon-check.svg') no-repeat center, colors.$check-bg;
//   //     border: 0;
//   //   }
//   // }
// }

