// ### Primary
$bright-blue: hsl(220, 98%, 61%);
$check-bg: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// ### Neutral

// ### Light Theme
$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue: hsl(233, 11%, 84%);
$dark-grayish-blue: hsl(236, 9%, 61%);
$very-dark-grayish-blue: hsl(235, 19%, 35%);

// ### Dark Theme
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue: hsl(234, 39%, 85%);
$light-grayish-blue-hover: hsl(236, 33%, 92%);
$dark-grayish-blue: hsl(234, 11%, 52%);
$very-dark-grayish-blue: hsl(233, 14%, 35%);
$very-dark-grayish-blue-2: hsl(237, 14%, 26%);


@mixin flex-center($justify: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
}


.todo-main-container {
  .top-bg {
    width: 100%;
    height: 300px;
    background: url('/images/bg-desktop-light.jpg') no-repeat;
    background-position: center 0;
    background-size: cover;
    position: absolute;
  }


  .center-container {
    @include flex-center();
    padding: 32px 0;
    .center-content {
      // outline: 1px solid red;
      min-width: 540px;
      z-index: 2;
      box-shadow: 0px 12px 12px 1px rgba(168, 168, 168, 0.15);
      .title-container {
        font-size: 32px;
        letter-spacing: 10px;
        padding: 40px 0;
        color: $very-light-gray;
        @include flex-center(space-between);
        align-items: center;
        .title {
          letter-spacing: 13px;
          font-size: 40px;
          font-weight: 700;
        }
      }
    }
  }

  .add-input {
    margin-bottom: 24px;
    input.todo-input {
      width: 100%;
      padding: 16px 16px 16px 48px;
      font-size: 18px;
      border-radius: 6px;
      border: 0;
      &:focus {
        outline: none;
      }
    }
  }

  .list-container {
    // outline: 1px solid blue;
    background: white;
    border-radius: 6px;
    .list-item {
      padding: 24px 16px;
      border-bottom: 1px solid $very-light-grayish-blue;
      @include flex-center(space-between);
      .left {
        @include flex-center($justify: start);
        align-items: center;
        gap: 16px;
        &.checked {
          text-decoration: line-through;
        }
      }
      .remove {
        display: none;
        height: 20px;
      }
      &:hover {
        cursor: pointer;
        & .remove {
          display: block;
        }
      }
    }
    .list-bottom {
      font-size: 14px;
      padding: 16px;
      color: $dark-grayish-blue;
      @include flex-center($justify: space-between);
      .center {
        @include flex-center($justify: space-around);
        gap: 12px;
        font-weight: 700;
        .filter-option {
          cursor: pointer;
          &.active {
            color: $bright-blue;
          }
          &:not(.active):hover {
            color: $very-dark-grayish-blue
          }
        }
      }
      .right:hover {
        cursor: pointer;
        color: $very-dark-grayish-blue;
      }
    }
  }

  .checkbox {
    border-radius: 50%;
    border: 2px solid lightgray;
    // background: linear-gradient(white, white) padding-box, $check-bg border-box;
    // background: $check-bg no-repeat;
    width: 20px;
    height: 20px;
    &:hover {
      border-color: transparent;
      background: linear-gradient(white, white) padding-box, $check-bg border-box;
    }
    &.checked {
      background: url('/images/icon-check.svg') no-repeat center, $check-bg;
      border: 0;
    }
  }

}
